@page "/account/editor"
@using OnlineShop.Frontend.Components;
@inherits AppComponentBase


<MudGrid>
    <div style="display:flex;">
        <MudCard Style="border:2px solid black;margin:20px;margin-left:10px;float:right;width:600px;
                 height:400px;background-color:white;">
            <MudCardContent Style="min-height:100px;">
                <MudText>Почта:</MudText>
                <MudTextField @bind-Value="_accountRequest.Email" Style="background-color:white"></MudTextField>
                <MudText>Имя:</MudText>
                <MudTextField @bind-Value="_accountRequest.Name" Style="background-color:white"></MudTextField>
                <MudText>Фамилия:</MudText>
                <MudTextField @bind-Value="_accountRequest.LastName" Style="background-color:white"></MudTextField>
                <MudText>Путь к фотографии:</MudText>
                <MudTextField @bind-Value="_accountRequest.Image" Style="background-color:white"></MudTextField>
                <MudButton @onclick="UpdateAccountData" Style="background-color:#6ec04a;margin:10px;color:white;
                position:absolute;bottom:20px">Сохранить</MudButton>
            </MudCardContent>
        </MudCard>

        <MudCard Style="border:2px solid black;margin:20px;margin-left:0px;float:right;width:600px;
                 height:400px;background-color:white;">
            <MudCardContent Style="min-height:100px;">
                <MudText>Старый пароль:</MudText>
                <MudTextField @bind-Value="_accountPasswordRequest.OldPassword"
                Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End"
                AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
                <MudText>Новый пароль:</MudText>
                <MudTextField @bind-Value="_accountPasswordRequest.NewPassword"
                              Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End"
                              AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
                <MudText>Подтвердите пароль:</MudText>
                <MudTextField @bind-Value="_confirmedPassword"
                              Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End"
                              AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
                <MudButton @onclick="UpdateAccountPassword" Style="background-color:#6ec04a;margin:10px;color:white;
                 position:absolute;bottom:20px">Сохранить</MudButton>
            </MudCardContent>
        </MudCard>
    </div>
</MudGrid>



